src/udev/udevadm
src/udev/udevd

*.[oa]
*.l[oa]
.libs
.deps
Makefile
Makefile.in

aclocal.m4
autom4te.cache
config.*
configure
libtool
stamp-h1

depcomp
install-sh
ltmain.sh
missing

*.pc

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

docs/gudev/version.xml
docs/libudev/version.xml
docs/gudev/gudev-overrides.txt
docs/libudev/libudev-overrides.txt
man/udev.7
man/udevd.8
man/udevadm.8
rule_generator/write_cd_rules
rule_generator/write_net_rules

src/accelerometer/accelerometer
src/ata_id/ata_id
src/cdrom_id/cdrom_id
src/collect/collect
src/mtd_probe/mtd_probe
src/scsi_id/scsi_id
src/v4l_id/v4l_id

src/gudev/gudevenumtypes.c
src/gudev/gudevenumtypes.h
src/gudev/gudevmarshal.c
src/gudev/gudevmarshal.h
src/gudev/GUdev-1.0.gir
src/gudev/GUdev-1.0.typelib

src/udev/keyboard-keys-from-name.gperf
src/udev/keyboard-keys-from-name.h
src/udev/keyboard-keys-to-name.h
src/udev/keyboard-keys.txt

test/test-libudev
test/test-udev
test/test
test/test-device_nodes
test/test-utf8
test-driver
