src/udev/udevadm
src/udev/udevd

*.[oa]
*.l[oa]
.libs
.deps
Makefile
Makefile.in

aclocal.m4
autom4te.cache
config.*
configure
libtool
stamp-h1

depcomp
install-sh
ltmain.sh
missing

*.pc

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

docs/gtk-doc.make
m4/gtk-doc.m4
